@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,1,300,600,400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
}



@layer utilities {
  .paddingX {
    @apply sm:px-16 px-6;
  }

  .paddingY {
    @apply sm:py-16 py-8
  }

  .padding {
    @apply sm:px-16 px-6 sm:py-16 py-10
  }

  .technologies {
    @apply py-4 flex gap-2 px-6 bg-tertiary saturate-0 hover:saturate-100 rounded-full text-white-100 hover:text-tertiary hover:cursor-pointer hover:bg-white-100 hover:border-black border duration-500
  }

  .profile {
    @apply size-auto sl:size-[30rem] object-cover object-center md:aspect-auto md:rounded-[30px] rounded-[20px]
  }
}

.duration {
  transition-duration: 0.5s;
}

.cursor {
  background-color: #696963;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}

/* nav a:after {
  content: "";
  position: absolute;
  background-color: #4A4A45;
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

nav a:hover:after {
  width: 100%;
} */

.tech-card {
  background-color: rgba(229, 229, 229, 0.395);
  box-shadow: 0 0 50px -12px rgba(175, 175, 175, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}