@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,1,300,600,400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
  background-color: #FBFBF3;
}

.cursor {
  background-color: #696963;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}